$break-large: 1350px;
$break-medium: 900px;
$break-small: 450px;

.project-item {
  width: 95vw;
  color: white;
  min-width: 30%;
  height: 450px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 25px;
  padding-bottom: 30px;
  overflow: hidden;

  @media screen and (max-width: $break-medium) {
    height: auto;
   }

  &:hover {
    cursor: pointer;
  }

  .project-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-content: center;

    @media screen and (max-width: $break-medium) {
        flex-direction: column-reverse;
        width: 100%;
      }

    .image-wrapper {
      width: 35%;
      margin: auto;
       display: flex;
       justify-content: center;
       align-content: space-between;

    @media screen and (max-width: $break-large) {
        width: 50%;
      }
    margin: auto;
      .background-image {
        display: block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: auto;
        width: calc(350px + 5%);
        height: 350px;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
      }
    }

    .desc-text {
      width: 45%;
      margin: auto;
      font-family: "Marcellus SC", serif;
      display: flex;
      justify-content: center;
      align-content: space-between;
      flex-direction: column;

      @media screen and (max-width: $break-medium) {
       flex: 1;
       padding-bottom: 50px;
      }
    }
  }
}
