$break-medium: 900px;
$break-small: 450px;

.header {
    height: 8vh;
    min-height: 39px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #282c34;
    align-items: center;

    @media screen and (max-width: $break-small) { 
      height: 20vh;
    }



    @media screen and (max-width: $break-medium) {
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width: $break-small) { 
        flex-direction: column;
        padding-top: 3%;
      }

      @media screen and (max-width: $break-medium) {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
      }


         .option {
        width: 125px;
        padding: 10px 15px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        transition: 0.1s;

        @media screen and (max-width: $break-medium) {
          min-width: 18vw;
        }
      }



      .option:hover {
        letter-spacing: 2px;

        @media screen and (max-width: $break-medium) {
          letter-spacing: 0px;
          transform: scale(1.05);
        }
    }
  }
}
  